#mainMenuPane
{
    -fx-background-color: linear-gradient(to bottom, rgba(22,131,40,1) 0%, rgba(133,244,104,1) 100%);
}
#sidePane
{
    -fx-background-image: url(../Images/notepad.jpg);
    -fx-background-size: cover;
}