#MondayBG
{
    -fx-background-image: url(../Images/wood.jpg);
}
#MondayList
{
    -fx-border-color: #d91b04;
    -fx-border-radius: 2%;
    -fx-border-width: 4px;
}
#addNoteMonday
{
    -fx-text-fill: #25f5f1;
    -fx-background-color: #6121ba;
    -fx-border-color: black;
    -fx-border-width: 0.8px;
}