#noteDisplay
{
    -fx-background-image: url(../Images/wood.jpg);
}
#titleLabel
{
    -fx-text-fill: #0303fc;
    -fx-background-color: linear-gradient(to right, rgba(80,232,138,1) 0%, rgba(0,255,2,1) 100%);
}
#noteTextLabel
{
    -fx-text-fill: rgba(205, 35, 89, 0.87);
    -fx-background-color: linear-gradient(to bottom, rgb(46, 149, 217) 0%, rgba(0,2,255,1) 100%);
}